@import 'materialize';
*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .nav-wrapper{
      padding: 0 2vw;
  }




  .main {
    flex: 1 0 auto;
  
    .main-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: left;
        min-height: 66.4vh;
    }
    &-left-block{
        flex-basis: 20%;
        padding: 5px;
        .collection{
         min-height: 62vh;   
        }
    }
    &-right-block{
        
        flex-grow: 1;
        padding: 5px;

        &-content{
            display: flex;
            justify-content: left;
            .collection-item{
                min-width: 8vw;
                border-right: solid black 1px;
                &:last-child{
                    border: none;
                }
            }
        }
    }
  }
  .campain{
      display: flex;
      &-wrapper-create_block{
        border: solid black 1px;
        flex-basis: 30%;
      }
      &-wrapper-info_block{
          border: solid black 1px;
          margin-left: 25px ;
          min-width: 30vw;
          flex-shrink: 1;
    }
  }
  #modal-window-wrapper{
      position: absolute;
      top: 150px;
      left: 650px;
      height: 150px;
      width: 150px;
      z-index: 1000;
      background-color:red ;
  }